h2 {
    color:blue;
    text-align: center;
}

div#titlename {
    text-align: center;
}

div#selection {
    width: 150px;
    float: left;
}

div#images {
    width: 300px;
    float: right;
}
